<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>General</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>checksum_verification</string>
			<key>Title</key>
			<string>Checksum Verification</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>getstarted</string>
			<key>Title</key>
			<string>Get Started</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Userinfo</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>max@mustermann.at</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>default_email</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>Email</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>Title</key>
			<string>Phone</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Key</key>
			<string>default_phone</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>DefaultValue</key>
			<string>06641234567890</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>Words</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>default_forename</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Forename</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>Words</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>default_surname</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Surname</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
